* {
    box-sizing: border-box;
}
a, :active, :visited, :link {
    text-decoration: none;
    color: royalblue;
}
.clear {
    clear: both;
}
#konten {
    width: 900px;
    margin: auto;
}
.box-30 {
    float: left;
    margin-bottom: 30px;
}
.box-30 img {
    width: 300px;
    padding: 10px;
    border-radius: 30px;
}
.box-30 img:hover {
    opacity: 0.5;
    bottom: 10px;
    position: relative;
    transition: 0.5s;
}
.box-30 h3, p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 0 0 10px;
    text-align: center;
    margin: 5px 0;
}
.box-30 h3:hover {
    color: teal;
    transition: 0.5s;
}