* {
    box-sizing: border-box;
}
a, :active, :visited, :link {
    text-decoration: none;
    color: royalblue;
}
.clear {
    clear: both;
}
.head img {
    display: block;
    width: 150px;
    margin: 0 auto;
    padding: 25px 0;
}
#konten {
    width: 900px;
    margin: auto;
}

.box-item{
    width:50%;
    height:300px;
    float:left;
    background-color:white;
    overflow: auto;
}
.box-item-list{
    width:100%;
}
.box-item-list .td{
    width:40%;
}
.box-item h3{
    margin-top:0;
    padding:20px;
    border-bottom: 1px solid white;
}
.box-item img{
    width:100%;
}
.box-total{
    width:40%;
    margin-left:50%;
    background-color:white;
}
.box-total h3{
    margin-top:0;
    padding:20px;
    border-bottom: 1px solid white;
    color: black;
}
.button-custom{
    padding: 15px 32px;
    margin: 4px 2px;
    margin-left:35%;
  }
.list{
    width:60%;
    margin:auto;
    height:100%;
    padding-bottom:50px;
}